---
pagination:
  data: collections.articles
  size: 6
  alias: articles
  reverse: true
---

{% extends 'layouts/default.njk' %}
{% from "partials/card.njk" import card %}
{% block content %}
<div class="col-xl-8">
    <section class="post-feed">
        {% for article in articles %}
            {{ card(article) }}
        {% endfor %}
    </section>
    {% include "partials/pagination.njk" %}
    <br/>
</div>
{% include "partials/sidebar.njk" %}
{% endblock%}
