---
---

{% extends 'layouts/cover.njk' %}
{% block content %}
            <main class="px-3">
                <h1>James Belchamber</h1>
                <p class="lead"><strong>I like building things</strong></p>
                <p class="lead"><strong>(Currently building things at <a style="color: white;" href="https://www.generation.org/">Generation: You Employed</a>)</strong></p>
                <p class="lead">
                    {%- for entry in site.navigation %}
                    <a href="{{ entry.url }}" class="btn btn-secondary my-1">{{ entry.label }}</a>
                    {%- endfor %}
                </p>
            </main>
{% endblock content %}
