{% macro card(article) %}
    <div class="blog-post">
        <figure>
            <img class="img-fluid rounded-lg" src="{{ article.url }}{{ article.data.background }}" alt=""/>
        </figure>
        <div class="media">
            <div class="media-body blog-post-title">
                <a href="{{ article.url }}"><h2 class="blog-post-title">{{ article.data.title }}</h2></a>
                <p class="blog-post-meta text-muted">{{ article.date.toDateString() }}</p>
            </div>
        </div>
        <p>{{ article.data.subtitle | safe }}</p>
        <a type="button" class="btn btn-primary float-end" href="{{ article.url }}">Read More</a>
    </div>
{% endmacro %}
