<footer class="mt-auto text-white-50">
    <p>Copyright © James Belchamber 2022, except background image "<a href="https://www.flickr.com/photos/dazryan/39172431621">Shapes and Movement</a>" by <a href="https://www.flickr.com/photos/dazryan">Darren Ryan</a> (licensed under
        <a href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a>). Built with <a href="https://www.11ty.dev/">11ty</a> and <a href="https://getbootstrap.com/">Bootstrap</a>.</p>
</footer>