<header class="mb-auto">
    <div>
        <h3 class="float-md-start mb-0">{{ site.title }}</h3>
        {% set navPages = collections.all | eleventyNavigation %}
        <nav class="nav nav-masthead justify-content-center float-md-end">
            {%- for entry in navPages %}
                <a class="nav-link fw-bold py-1 px-0{% if entry.url == page.url %} active" aria-current="page{% endif %}" href="{{ entry.url }}">{{ entry.title }}</a>
            {%- endfor %}
            </nav>
        </div>
    </header>